body {
    font-family: Arial, sans-serif;
    background-image: url("/media/Avengers-Age-of-Ultron-Joss-Whedon.webp");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.title{
    color: white;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 1px 1px 4px black;
}
.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1000%;
    max-width: 600px;
}
h1 {
    margin-top: 0;
    color: #1815d8;
}
label {
    display: block;
    margin-bottom: 7px;
    color: whitesmoke;
}
input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    padding-right: 0px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button {
    background-color: #05120b;
    color: yellow;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #0056b3;
}